<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flickr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>680FD0281C7D18D8004D0F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680FD03C1C7D18D8004D0F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680FD0471C7D18D8004D0F97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
